<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Películas</title>
</head>
<body>

    <h1>Películas</h1>

    <ul>
        <li>Cantidad de películas: {{ num_movies }}</li>
        <li>Cantidad de directores de cine: {{ num_film_directors }}</li>
    </ul>

    <ul>
        {{ all_movies }}
    </ul>

    <ul>
        {{ all_film_directors }}
    </ul>
    
    
</body>
</html>